<a href="https://colab.research.google.com/github/sravika-reddy12/Sravika-Reddy_INFO5731_Spring2023/blob/main/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# Enter your response here.
stri = "Sravika"
x = 0
for i in stri:   #Using For loop
    x = x + 1
print(x)     # print statement

7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# Enter your response here.
strin = 'google.com'
c_count = {}
  
for i in strin: # Using for loop
    if i in c_count:  #  Using if else statement
        c_count[i] += 1
    else:
        c_count[i] = 1
print(str(c_count))    # print statement

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# Enter your response here.
lst = [5,9,1,6] #List
Sp = 0
for a in lst:   #Using For loop
    Sp = Sp + a
print(Sp)      #print statement

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. (4 points)

Sample String : 'restart‘,

Expected Result : 'resta$t'

In [ ]:
# Enter your response here.
stri = "restart"
stri1 = ""
x = stri[0]
for i in range(0,len(stri)): #Using for loop
    if stri[i]==x:           #Using ifelsestatement
        stri1 += '$'
    else:
        stri1 += stri[i]
stri1 = x + stri1[1:]
print(stri1)                 #print statement

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where
  S=3.14*(1+a/b)^3

 (4 points)

In [ ]:
# Enter your response here.
x = int(input("Enter value of x "))
y = int(input("Enter value of y "))
Z = 3.14 * (1 + x/y)**3
print(Z)             # print statement

Enter value of x 6
Enter value of y 5
33.43472000000001

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Enter your response here.
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic1.update(dic2)  # updating dict 2 in dic 1
dic1.update(dic3)  # updating dict 3 in dic 1
print(dic1)        # print statement

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# Enter your response here.
X = tuple(map(int,input("Enter the elements inside a tuple : ").split()))
Y = int(input("Enter the element to be searched inside a tuple "))
for a in X:                     # for loop
    if a == Y:                  # ifelse statement
        print("Element Exists")
        break
else:
    print("Element doesn't exists")  # print statement

Enter the elements inside a tuple : 4
Enter the element to be searched inside a tuple 4
Element Exists

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# Enter your response here.
Sravika = set(map(int,input("Enter the elements inside a list : ").split()))
# min = Sravika[0]
# max = Sravika[0]
# for i in Sravika[1:]:
        # if i < min: 
            # min = i 
        # else: 
           # if i > max: max = i
 
print(min(Sravika), max(Sravika)) #print statement

Enter the elements inside a list : 45 3 4 7 786
3 786

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
#Enter your response here.
import random
S_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
for i in range(0,6):    #for loop
    print(random.sample(S_list, k = 5)) #print statement

['ak0934', 'fh0141', 'dr0609', 'bg0320', 'ja0964']
['gn0108', 'nv0234', 'pr0353', 'kg0569', 'sc1229']
['vm0377', 'fh0141', 'ak0956', 'sa1198', 'hy0232']
['sk1458', 'sk1390', 'kg0470', 'ak0934', 'hy0232']
['sk1458', 'ms1500', 'sa1198', 'aos0040', 'nm0618']
['gn0108', 'vm0377', 'sb1357', 'ms1500', 'sg1297']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# Enter your response here.
Sravika = list(map(int,input("Enter the elements inside a list : ").split()))
Reddy = set()
for a in range(len(Sravika)):  #for loop

    if Sravika[a] in Reddy:    # ifelse statement
         print(Sravika[a])     #print statement
    else:
        Reddy.add(Sravika[a])
if(len(Sravika)==len(Reddy)):  #if statement
    print("-1")                #print statement

Enter the elements inside a list : 33 44 44 33 55 55
44
33
55

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
from datetime import date, timedelta

def all_sundays(year):
# January 1st of the given year
       d = date(year, 1, 1)
# First Sunday of the given year       
       d += timedelta(days = 6 - d.weekday())  
       while d.year == year:
          yield d
          d += timedelta(days = 7)
          
for s in all_sundays(2023):
   print(s)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31