<a href="https://colab.research.google.com/github/sravika-reddy12/Sravika-Reddy_INFO5731_Spring2023/blob/main/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# Enter your response here.
stri = "Sravika"
count = 0
for i in stri:   #Using For loop
    count = count + 1
print(count)     # print statement

7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# Enter your response here.
strin = 'google.com'
char_count = {}
  
for i in strin: # Using for loop
    if i in char_count:  #  Using if else statement
        char_count[i] += 1
    else:
        char_count[i] = 1
print(str(char_count))    # print statement

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# Enter your response here.
lst = [5,9,1,6] #List
tot = 0
for i in lst:   #Using For loop
    tot = tot + i
print(tot)      #print statement

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself. (4 points)

Sample String : 'restart‘,

Expected Result : 'resta$t'

In [ ]:
# Enter your response here.
stri = "restart"
stri1 = ""
a = stri[0]
for i in range(0,len(stri)): #Using for loop
    if stri[i]==a:           #Using ifelsestatement
        stri1 += '$'
    else:
        stri1 += stri[i]
stri1 = a + stri1[1:]
print(stri1)                 #print statement

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where
  S=3.14*(1+a/b)**3

 (4 points)

In [ ]:
# Enter your response here.
a = int(input("Enter value of a "))
b = int(input("Enter value of b "))
S = 3.14 * (1 + a/b)**3
print(S)             # print statement

Enter value of a 24
Enter value of b 26
22.331588529813384

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Enter your response here.
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic1.update(dic2)  # updating dict 2 in dic 1
dic1.update(dic3)  # updating dict 3 in dic 1
print(dic1)        # print statement

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}