<a href="https://colab.research.google.com/github/sravika-reddy12/Sravika-Reddy_INFO5731_Spring2023/blob/main/INFO5731_Assignment_Four.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment Four**

In this assignment, you are required to conduct topic modeling, sentiment analysis based on **the dataset you created from assignment three**.

# **Question 1: Topic Modeling**

(30 points). This question is designed to help you develop a feel for the way topic modeling works, the connection to the human meanings of documents. Based on the dataset from assignment three, write a python program to **identify the top 10 topics in the dataset**. Before answering this question, please review the materials in lesson 8, especially the code for LDA, LSA, and BERTopic. The following information should be reported:

(1) Features (text representation) used for topic modeling.

(2) Top 10 clusters for topic modeling.

(3) Summarize and describe the topic for each cluster.

In [ ]:
# Write your code here
#importing pandas
import pandas as pd
imdb_data = pd.read_csv('https://raw.githubusercontent.com/sravika-reddy12/Sravika-Reddy_INFO5731_Spring2023/main/sra.csv', delimiter='\t')

print(imdb_data.shape)
#print statement

(92, 10)

In [ ]:
import pandas as pd
import nltk

# download stopwords if not already downloaded
nltk.download('stopwords')

# load the data
imdb_data = pd.read_csv('https://raw.githubusercontent.com/sravika-reddy12/Sravika-Reddy_INFO5731_Spring2023/main/sra.csv', delimiter='\t')

# clean the text and create a new column
stop_words = set(nltk.corpus.stopwords.words('english'))

def clean_text(text):
    text = str(text).lower() # convert to lowercase
    text = ' '.join([word for word in text.split() if word not in stop_words]) # remove stopwords
    return text

imdb_data['Cleaned Data'] = imdb_data['Text'].apply(clean_text)

# print the first few rows of the dataframe
print(imdb_data.head())

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

  Id   ProductId          UserId                      ProfileName  \
0  1  B001E4KFG0  A3SGXH7AUHU8GW                       delmartian
1  2  B00813GRG4  A1D87F6ZCVE5NK                           dll pa
2  3  B000LQOCH0   ABXLMWJIXXAIN  Natalia Corres "Natalia Corres"
3  4  B000UA0QIQ  A395BORC6FGVXV                             Karl
4  5  B006K2ZZ7K  A1UQRSCLF8GW1T    Michael D. Bigham "M. Wassir"

  HelpfulnessNumerator HelpfulnessDenominator Score        Time  \
0                    1                      1     5  1303862400
1                    0                      0     1  1346976000
2                    1                      1     4  1219017600
3                    3                      3     2  1307923200
4                    0                      0     5  1350777600

                 Summary                                               Text  \
0  Good Quality Dog Food  I have bought several of the Vitality canned d...
1      Not as Advertised  Product arrived labeled as Jumbo Salted Peanut...
2    Delight says it all  This is a confection that has been around a fe...
3         Cough Medicine  If you are looking for the secret ingredient i...
4            Great taffy  Great taffy at a great price.  There was a wid...

                                        Cleaned Data
0  bought several vitality canned dog food produc...
1  product arrived labeled jumbo salted peanuts.....
2  confection around centuries. light, pillowy ci...
3  looking secret ingredient robitussin believe f...
4  great taffy great price. wide assortment yummy...

In [ ]:
import nltk   
#cleaning
imdb_data ['Cleaned Data'] = imdb_data['Cleaned Data'].str.replace('[^\w\s]','')  
#removal of punctuation
imdb_data['Cleaned Data'] = imdb_data['Cleaned Data'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#lower case
from nltk.corpus import stopwords 
#removal of stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
imdb_data['Cleaned Data'] = imdb_data['Cleaned Data'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

<ipython-input-3-8583447cfa9f>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  imdb_data ['Cleaned Data'] = imdb_data['Cleaned Data'].str.replace('[^\w\s]','')
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
words = []  
 #building document-term matrix
from nltk.tokenize import RegexpTokenizer
from gensim import corpora,models
tokenizer = RegexpTokenizer(r'\w+')
#for loop
for x in pd.Series(imdb_data['Cleaned Data']):
  a = tokenizer.tokenize(x)
  words.append(a)
dictionary = corpora.Dictionary(words)
corpus = [dictionary.doc2bow(word) for word in words]

In [ ]:
import gensim  
#LDA model
model = gensim.models.ldamodel.LdaModel(corpus, num_topics = 10, id2word = dictionary,passes = 20)

In [ ]:
print(model.print_topics(num_topics = 10, num_words = 5))
#print statement

[(0, '0.032*"food" + 0.024*"taffy" + 0.016*"got" + 0.016*"higher" + 0.016*"chubby"'), (1, '0.002*"good" + 0.002*"dog" + 0.002*"food" + 0.002*"sauce" + 0.002*"br"'), (2, '0.040*"food" + 0.030*"new" + 0.020*"great" + 0.020*"bowls" + 0.020*"need"'), (3, '0.026*"product" + 0.026*"sugar" + 0.026*"jumbo" + 0.026*"eat" + 0.026*"intake"'), (4, '0.071*"good" + 0.071*"dog" + 0.048*"food" + 0.024*"yummy" + 0.024*"around"'), (5, '0.045*"sauce" + 0.034*"br" + 0.034*"hot" + 0.023*"love" + 0.023*"tequila"'), (6, '0.021*"cut" + 0.021*"treat" + 0.021*"tiny" + 0.021*"witch" + 0.011*"amazon"'), (7, '0.041*"twizzlers" + 0.017*"would" + 0.017*"love" + 0.017*"strawberry" + 0.017*"good"'), (8, '0.065*"taffy" + 0.044*"great" + 0.044*"eating" + 0.022*"like" + 0.022*"love"'), (9, '0.032*"made" + 0.032*"licorice" + 0.022*"guinness" + 0.022*"twists" + 0.022*"company"')]

# **Question 2: Sentiment Analysis**

(30 points). Sentiment analysis also known as opinion mining is a sub field within Natural Language Processing (NLP) that builds machine learning algorithms to classify a text according to the sentimental polarities of opinions it contains, e.g., positive, negative, neutral. The purpose of this question is to develop a machine learning classifier for sentiment analysis. Based on the dataset from assignment three, write a python program to implement a sentiment classifier and evaluate its performance. Notice: **80% data for training and 20% data for testing**.  

(1) Features used for sentiment classification and explain why you select these features.

(2) Select two of the supervised learning algorithm from scikit-learn library: https://scikit-learn.org/stable/supervised_learning.html#supervised-learning, to build a sentiment classifier respectively. Note: Cross-validation (5-fold or 10-fold) should be conducted. Here is the reference of cross-validation: https://scikit-learn.org/stable/modules/cross_validation.html.

(3) Compare the performance over accuracy, precision, recall, and F1 score for the two algorithms you selected. Here is the reference of how to calculate these metrics: https://towardsdatascience.com/accuracy-precision-recall-or-f1-331fb37c5cb9.

In [ ]:
# Write your code here
#importing pandas
import pandas as pd
print(imdb_data.shape)
#print statement

(92, 11)

In [ ]:
imdb_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Cleaned Data
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...,bought several vitality canned dog food produc...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,product arrived labeled jumbo salted peanutsth...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,Delight says it all,This is a confection that has been around a fe...,confection around centuries light pillowy citr...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...,looking secret ingredient robitussin believe f...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...,great taffy great price wide assortment yummy ...

In [ ]:
import nltk
imdb_data['Cleaned Data'] = imdb_data['Cleaned Data'].str.replace('[^\w\s]','') 
 #removal of punctuation
imdb_data['Cleaned Data'] = imdb_data['Cleaned Data'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#lower case
from nltk.corpus import stopwords 
#removal of stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
imdb_data['Cleaned Data'] = imdb_data['Cleaned Data'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

<ipython-input-9-ed1214ebad70>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  imdb_data['Cleaned Data'] = imdb_data['Cleaned Data'].str.replace('[^\w\s]','')
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
imdb_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text,Cleaned Data
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...,bought several vitality canned dog food produc...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...,product arrived labeled jumbo salted peanutsth...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,Delight says it all,This is a confection that has been around a fe...,confection around centuries light pillowy citr...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...,looking secret ingredient robitussin believe f...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...,great taffy great price wide assortment yummy ...

In [ ]:
imdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      92 non-null     object
 1   ProductId               92 non-null     object
 2   UserId                  92 non-null     object
 3   ProfileName             92 non-null     object
 4   HelpfulnessNumerator    92 non-null     object
 5   HelpfulnessDenominator  92 non-null     object
 6   Score                   92 non-null     object
 7   Time                    92 non-null     object
 8   Summary                 92 non-null     object
 9   Text                    92 non-null     object
 10  Cleaned Data            92 non-null     object
dtypes: object(11)
memory usage: 8.0+ KB

In [ ]:

# clean the text and create a new column
stop_words = set(nltk.corpus.stopwords.words('english'))

def clean_text(text):
    text = str(text).lower() # convert to lowercase
    text = ' '.join([word for word in text.split() if word not in stop_words]) # remove stopwords
    return text

imdb_data['Sentimental Analysis'] = imdb_data['Text'].apply(clean_text)
imdb_data['Sentimental Analysis'].value_counts()

know cactus tequila unique combination ingredients, flavour hot sauce makes one kind! picked bottle trip brought back home us totally blown away! realized simply find anywhere city bummed.<br /><br />now, magic internet, case sauce ecstatic it.<br /><br />if love hot sauce..i mean really love hot sauce, want sauce tastelessly burns throat, grab bottle tequila picante gourmet de inclan. realize taste it, never want use sauce.<br /><br />thank personal, incredible service!                                                                                                           6
bought several vitality canned dog food products found good quality. product looks like stew processed meat smells better. labrador finicky appreciates product better most.                                                                                                                                                                                                                                                                                                                                                                                                                          3
love eating good watching tv looking movies! sweet. like transfer zip lock baggie stay fresh take time eating them.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   3
got mum diabetic needs watch sugar intake, father simply chooses limit unnecessary sugar intake - one sweet tooth - loved toffees, would never guess they're sugar-free great eat pretty much guilt free! impressed i've ordered (w dark chocolate) take office i'll eat instead snacking sugary sweets.<br />these excellent!                                                                                                                                                                                                                                                                        3
glad amazon carried batteries. hard time finding elsewhere unique size. need garage door opener.<br />great deal price.                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
candy red , flavor . plan chewy . would never buy                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3
product received advertised.<br /><br /><a href="http://www.amazon.com/gp/product/b001gvisjm">twizzlers, strawberry, 16-ounce bags (pack 6)</a>                                                                                                                                                                                                                                                                                                                                                                                                                                                       3
lived us 7 yrs now, miss twizzlers!! go back visit someone visits me, always stock up. say yum!<br />sell mexico faithful buyer, often i'm able buy right now.                                                                                                                                                                                                                                                                                                                                                                                                                                        3
love candy. weight watchers cut back still craving it.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
remember buying candy kid quality dropped years. still superb product disappointed with.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3
bought husband currently overseas. loves these, apparently staff likes also.<br />there generous amounts twizzlers 16-ounce bag, well worth price. <a href="http://www.amazon.com/gp/product/b001gvisjm">twizzlers, strawberry, 16-ounce bags (pack 6)</a>                                                                                                                                                                                                                                                                                                                                            3
husband twizzlers addict. we've bought many times amazon we're government employees living overseas can't get country assigned to. they've always fresh tasty, packed well arrive timely manner.                                                                                                                                                                                                                                                                                                                                                                                                      3
candy delivered fast purchased reasonable price. home bound unable get store perfect me.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3
twizzlers, strawberry childhood favorite candy, made lancaster pennsylvania & candies, inc. one oldest confectionery firms united states, subsidiary hershey company, company established 1845 young smylie, also make apple licorice twists, green color blue raspberry licorice twists, like all<br /><br />i keep dry cool place recommended put fridge. according guinness book records, longest licorice twist ever made measured 1.200 feet (370 m) weighted 100 pounds (45 kg) made & candies, inc. record-breaking twist became guinness world record july 19, 1998. product kosher! thank    3
satisfied twizzler purchase. shared others enjoyed them. definitely ordering more.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3
daughter loves twizzlers shipment six pounds really hit spot. exactly would expect...six packages strawberry twizzlers.                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
product arrived labeled jumbo salted peanuts...the peanuts actually small sized unsalted. sure error vendor intended represent product "jumbo".                                                                                                                                                                                                                                                                                                                                                                                                                                                       3
strawberry twizzlers guilty pleasure - yummy. six pounds around son i.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
good flavor! came securely packed... fresh delicious! love twizzlers!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3
cats happily eating felidae platinum two years. got new bag shape food different. tried new food first put bowls bowls sit full kitties touch food. i've noticed similar reviews related formula changes past. unfortunately, need find new food cats eat.                                                                                                                                                                                                                                                                                                                                            3
one boys needed lose weight didn't. put food floor chubby guy, protein-rich, by-product food higher skinny boy jump. higher food sits going stale. really go food. chubby boy losing ounce week.                                                                                                                                                                                                                                                                                                                                                                                                      3
healthy dog food. good digestion. also good small puppies. dog eats required amount every feeding.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3
right i'm mostly sprouting cats eat grass. love it. rotate around wheatgrass rye                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3
taffy good. soft chewy. flavors amazing. would definitely recommend buying it. satisfying!!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3
saltwater taffy great flavors soft chewy. candy individually wrapped well. none candies stuck together, happen expensive version, fralinger's. would highly recommend candy! served beach-themed party everyone loved it!                                                                                                                                                                                                                                                                                                                                                                             3
got wild hair taffy ordered five pound bag. taffy enjoyable many flavors: watermelon, root beer, melon, peppermint, grape, etc. complaint bit much red/black licorice-flavored pieces (just particular favorites). me, kids, husband, lasted two weeks! would recommend brand taffy -- delightful treat.                                                                                                                                                                                                                                                                                              3
great taffy great price. wide assortment yummy taffy. delivery quick. taffy lover, deal.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3
looking secret ingredient robitussin believe found it. got addition root beer extract ordered (which good) made cherry soda. flavor medicinal.                                                                                                                                                                                                                                                                                                                                                                                                                                                        3
confection around centuries. light, pillowy citrus gelatin nuts - case filberts. cut tiny squares liberally coated powdered sugar. tiny mouthful heaven. chewy, flavorful. highly recommend yummy treat. familiar story c.s. lewis' "the lion, witch, wardrobe" - treat seduces edmund selling brother sisters witch.                                                                                                                                                                                                                                                                                 3
text                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  2
Name: Sentimental Analysis, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf_idf= TfidfVectorizer(ngram_range=(1,2), max_features=1000)
tf_idf.fit(imdb_data['Cleaned Data'])
x_values =  tf_idf.transform(imdb_data['Cleaned Data'])
y_values = imdb_data['Sentimental Analysis']
#sentimental analysis

# Split the training data to training and validating data
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x_values, y_values, test_size = 0.2)

In [ ]:
from sklearn import metrics

def evaluation(y_pred, y_test):
    Accuracy = metrics.accuracy_score(y_pred, y_test)
    Recall = metrics.recall_score(y_pred = y_pred, y_true = y_test, pos_label='positive', average='micro') 
    # micro calculates total true positives, false negatives and false positives
    Precision = metrics.precision_score(y_pred = y_pred, y_true = y_test, pos_label='positive', average='micro') 
    # micro calculates total true positives, false negatives and false positives
    F1 = 2 * (Precision * Recall) / (Precision + Recall)
     # Formula for F1 Score
    print("Accuracy: ", Accuracy.round(4))
    #print statement
    print("Recall:", Recall.round(4))
    #print statement
    print("Precision:", Precision.round(4))
    #print statement
    print("F-1 score:", F1.round(4))
    #print statement

In [ ]:
from sklearn import naive_bayes
#importing naive_bayes
from sklearn.model_selection import cross_val_score, KFold

naive_bayes_implement = naive_bayes.MultinomialNB()
#x train y train
naive_bayes_implement.fit(x_train,y_train)

y_pred_valid = naive_bayes_implement.predict(x_valid)
evaluation(y_pred_valid, y_valid)
#print statement
print("Cross Validation Score:", cross_val_score(naive_bayes_implement, x_valid, y_valid, cv= KFold(10, shuffle=True, random_state = 22)))

Accuracy:  0.5789
Recall: 0.5789
Precision: 0.5789
F-1 score: 0.5789
Cross Validation Score: [0.5 0.5 0.5 0.5 1.  0.5 0.5 0.  0.  0. ]

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1396: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1396: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

In [ ]:
from sklearn import svm
#importing svm
svm_implement = svm.SVC()

svm_implement.fit(x_train,y_train)

y_pred_valid = svm_implement.predict(x_valid)
evaluation(y_pred_valid, y_valid)
#print statement
print("Cross Validation Score:", cross_val_score(svm_implement, x_valid, y_valid, cv= KFold(10, shuffle=True, random_state = 22)).mean().round(4))

Accuracy:  1.0
Recall: 1.0
Precision: 1.0
F-1 score: 1.0
Cross Validation Score: 0.4

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1396: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1396: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

# **Question 3: House price prediction**

(40 points). You are required to build a **regression** model to predict the house price with 79 explanatory variables describing (almost) every aspect of residential homes. The purpose of this question is to practice regression analysis, an supervised learning model. The training data, testing data, and data description files can be download from canvas. Here is an axample for implementation: https://towardsdatascience.com/linear-regression-in-python-predict-the-bay-areas-home-price-5c91c8378878.

In [ ]:
# Write your code here
df_train = pd.read_csv("test.csv")
df_test = pd.read_csv("train.csv")

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
df_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [ ]:

df_test.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np
#importing numpy
df_train = df_train.select_dtypes(include=['number']).interpolate().dropna()
df_test = df_test.select_dtypes(include=['number']).interpolate().dropna()
#x training data
x_training_data = df_test.drop(['SalePrice','Id'], axis = 1)
y_training_data = np.log(df_test.SalePrice)

#y training data
x_train, x_test, y_train, y_test = train_test_split(x_training_data,y_training_data,random_state = 21, test_size=0.2)


regression = LinearRegression()
regression.fit(x_train,y_train)

y_pred = regression.predict(x_test)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   LotFrontage    1459 non-null   float64
 3   LotArea        1459 non-null   int64
 4   OverallQual    1459 non-null   int64
 5   OverallCond    1459 non-null   int64
 6   YearBuilt      1459 non-null   int64
 7   YearRemodAdd   1459 non-null   int64
 8   MasVnrArea     1459 non-null   float64
 9   BsmtFinSF1     1459 non-null   float64
 10  BsmtFinSF2     1459 non-null   float64
 11  BsmtUnfSF      1459 non-null   float64
 12  TotalBsmtSF    1459 non-null   float64
 13  1stFlrSF       1459 non-null   int64
 14  2ndFlrSF       1459 non-null   int64
 15  LowQualFinSF   1459 non-null   int64
 16  GrLivArea      1459 non-null   int64
 17  BsmtFullBath   1459 non-null   float64
 18  BsmtHalfBath   1459 non-null   float64
 19  FullBath       1459 non-null   int64
 20  HalfBath       1459 non-null   int64
 21  BedroomAbvGr   1459 non-null   int64
 22  KitchenAbvGr   1459 non-null   int64
 23  TotRmsAbvGrd   1459 non-null   int64
 24  Fireplaces     1459 non-null   int64
 25  GarageYrBlt    1459 non-null   float64
 26  GarageCars     1459 non-null   float64
 27  GarageArea     1459 non-null   float64
 28  WoodDeckSF     1459 non-null   int64
 29  OpenPorchSF    1459 non-null   int64
 30  EnclosedPorch  1459 non-null   int64
 31  3SsnPorch      1459 non-null   int64
 32  ScreenPorch    1459 non-null   int64
 33  PoolArea       1459 non-null   int64
 34  MiscVal        1459 non-null   int64
 35  MoSold         1459 non-null   int64
 36  YrSold         1459 non-null   int64
dtypes: float64(11), int64(26)
memory usage: 421.9 KB

In [ ]:
print('Linear Regression R squared": %.4f' % regression.score(x_test, y_test))
#print statement

Linear Regression R squared": 0.8493

In [ ]:
import numpy as np
#importing numpy
from sklearn.metrics import mean_squared_error
lin = mean_squared_error(np.exp(y_pred), y_test)
lin_r = np.sqrt(lin)
#print statement
print(lin_r)

195747.28015953413

In [ ]:
results = {"Predicted Prices":np.exp(y_pred),"Actual Prices":np.exp(y_test)}
df_val = pd.DataFrame(results)
df_val["Percentage Difference"] = round(abs((df_val["Predicted Prices"] - df_val["Actual Prices"]) / df_val["Actual Prices"]) * 100,2)
df_val

      Predicted Prices  Actual Prices  Percentage Difference
880      156677.762126       157000.0                   0.21
605      229973.921577       205000.0                  12.18
1166     245358.948864       245350.0                   0.00
216      218109.586021       210000.0                   3.86
970       86909.329260       135000.0                  35.62
...                ...            ...                    ...
218      231419.797074       311500.0                  25.71
1228     311321.804719       367294.0                  15.24
1007      93234.996099        88000.0                   5.95
575      109041.447359       118500.0                   7.98
599      172431.414374       151000.0                  14.19

[292 rows x 3 columns]