<a href="https://colab.research.google.com/github/sravika-reddy12/Sravika-Reddy_INFO5731_Spring2023/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **INFO5731 Assignment One**

Question1.  Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.(20 points)

In [1]:
#Enter your response here
import random
Sra = []
Vika = 0
for a in range(1,13):
    Sra.append(random.randrange(1,101))
print("Random List :- ",Sra) # printing random statement
Sra.sort()
print("ascending order :- ",Sra) # printing ascending order
Sra.sort(reverse=True)
print("descending order :- ",Sra) # printing descending order
Vika = sum(Sra)/len(Sra)
print("Average :- ",Vika) # printing average

Random List :-  [47, 94, 23, 75, 36, 1, 31, 93, 13, 67, 4, 67]
ascending order :-  [1, 4, 13, 23, 31, 36, 47, 67, 67, 75, 93, 94]
descending order :-  [94, 93, 75, 67, 67, 47, 36, 31, 23, 13, 4, 1]
Average :-  45.916666666666664

Question2. Write a program that will do the following string formatting tasks:(25 points)
    
    (1) Ask the user to enter two sentences.
    
    (2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is \"Alas! Am I alive? This is my first python program, the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].
    
    (3) Compare the two sentences. Print out a list of words that occur in both sentences.
    
    (4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”),
    
    (5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [10]:
#Enter your response here
import re
def split_sentence(inp):
    res=re.compile(r'\w+|[^\w\s]')
    return res.findall(inp)

def rem_punctuations(S):
    c='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    a_c = ""
    for j in S:
        if j not in c:  # if statement
            a_c += j
    return a_c
def vowel_coun(ll):
    cont = {}
    for z in "aeiou":
        ct = ll.count(z)
        cont[z]=ct
    return cont
# First Task!
sen1 = input("Enter sentence  1 ")   # taking input 1
sen2 = input("Enter sentence  2 ")   # taking input 2
# Second task!
t = split_sentence(sen1)
s = split_sentence(sen2)
print("Converting sentence 1 into list",t)  # converting sen 1
print("Converting sentence 2 into list",s)  # converting sen 2
# Third Task!
lst = []
for i in t:
    if i in s:
        lst.append(i)
print("Common Elements in both the list :- ",lst)  #printing statement
# Fourth Task!
print("Sentence 1 after punctuations :- ",rem_punctuations(sen1)) #printing after punctuations
print("Sentence 2 after punctuations :- ",rem_punctuations(sen2)) #printing after punctuations
# Fifth Task!
X = sen1.lower()
Y = sen2.lower()
print("Vowels in sentence 1 :- ",vowel_coun(X)) #printing vowels
print("Vowels in sentence 2 :- ",vowel_coun(Y)) #printing vowels

Enter sentence  1 Hello!! I'm Sravika
Enter sentence  2 Hello!! Nice meeting you
Converting sentence 1 into list ['Hello', '!', '!', 'I', "'", 'm', 'Sravika']
Converting sentence 2 into list ['Hello', '!', '!', 'Nice', 'meeting', 'you']
Common Elements in both the list :-  ['Hello', '!', '!']
Sentence 1 after punctuations :-  Hello Im Sravika
Sentence 2 after punctuations :-  Hello Nice meeting you
Vowels in sentence 1 :-  {'a': 2, 'e': 1, 'i': 2, 'o': 1, 'u': 0}
Vowels in sentence 2 :-  {'a': 0, 'e': 4, 'i': 2, 'o': 2, 'u': 1}

Question3.The formula that describes the volume V of a sphere with radius r is the following: (15 points)
V=4/3 *π*r3
 

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

r      V
1      ..
2      ..
3      ...

In [11]:
#Enter your response here
V = 0
pi = 3.14       # Pi value
print("r    V")
for r in range(1,10):
    V = (4/3)*pi*(r)**3            # Using formula
    print("{0}    {1}".format(r,V))  # printing the statement

r    V
1    4.1866666666666665
2    33.49333333333333
3    113.03999999999999
4    267.94666666666666
5    523.3333333333334
6    904.3199999999999
7    1436.0266666666666
8    2143.5733333333333
9    3052.08

Question 4. In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file Assignment1_denton_housing.csv included with this assignment. The file Assignment1_denton_housing.csv contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions. (40 points)

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

2008  30%   70%                          
2009 ----- -----
2010 ----- -----
2011 ----- -----
2012 ----- -----
2013 ----- -----
2014 ----- -----

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

                          Year	Value
Vacant Housing Units	  -----   -----
Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [16]:
import pandas as pd
#Task 1

df = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv")
diff_consec_yrs = df[df["title_field"] == "Occupied Housing Units"].sort_values(by=["year"])
diff_consec_yrs.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [17]:
# Second Task!

lt_vac = df[df['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
lt_occ = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()
lt_tot = df[df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()
yr = df[df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()
Vac = [str((vac/tot)*100)+' %' for vac,tot in zip(lt_vac,lt_tot)]
Occ = [str((occu/tot)*100)+' %' for occu, tot in zip(lt_occ, lt_tot)]
fi = pd.DataFrame(list(zip(yr,Vac, Occ)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
fi

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [18]:
#Third task!

lt_vac = df[df['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
lt_vac

[4483, 3583, 3635, 4213, 3013, 4215, 2814]

In [19]:
#Fourth task!

df_occ = df[df["title_field"] == "Occupied Housing Units"]
df_vac = df[df['title_field'] == 'Vacant Housing Units']
high_df = pd.concat([df_occ[df_occ['value'] == df_occ['value'].max()],df_vac[df_vac['value'] == df_vac['value'].max()]])
print(high_df[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [21]:
# Fifth Task

from scipy import stats
print('Harmonic mean of total housing units is {0}'.format(stats.hmean(lt_tot)))

Harmonic mean of total housing units is 44398.28543969185